.opportunity-investment-detail-header-back {
  z-index: 10;
  position: absolute;
  top: 0;
}
.opportunity-investment-detail-img-bg {
  object-fit: cover !important;
  border-radius: 10px;
  border: 1px solid #6a1b9a;
  max-width:80% !important;
  height: 25vh;
}
.plus-float-button {
  position: absolute;
  bottom: - 12px;
  right: calc(10% - 12px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $inverspot-red;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.opportunity-investment-detail-header-gradient {
  width: 100%;
  margin-top: 10px;
}
.opportunity-investment-detail-header-overview {
  width: 100%;
}
.detail-name {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.detail-info {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.top-border {
  border-top: 2px solid $inverspot-purple;
}
.process-item {
  background-color: #f1f2f2;
  padding: 8px;
}
.process-item-none-bg {
  padding: 8px;
}
.circle-item {
  width: 120px;
  height: 120px;
  border: 10px solid $inverspot-purple;
  border-radius: 60px;
  position: relative;
  margin-bottom: 10px;
}
