.confirm-icon-bg {
  height: 60px;
  width: 60px;
  display: table;
  text-align: center;
  background-color: #dee2e6;
}
.download-icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  color: $inverspot-red;
}
