.ag-theme-balham .ag-root {
  border-radius: 5px;
}
.ag-theme-balham .ag-header {
  background-color: #fff;
}
.ag-theme-balham .ag-header-cell,
.ag-theme-balham .ag-header-group-cell {
  border: none;
}
.ag-theme-balham .ag-row {
  border-color: #b7bfc6;
  &:hover {
      border-radius: 0.4em;
    border: solid 0.1em #313c52;
  }
}
.ag-theme-balham {
  color: #313c52;
}
.ag-theme-balham .ag-header {
  color: #231f20;
}
.ag-theme-balham .ag-row-odd {
  background-color: #f6f8f9;
}
